<div class="wrap container media-view-page">
    <div class="content row">

        <div class="header-bar">
            <div class="row">
                <div class="col-md-7">
                    <a ui-sref="media" class="btn-back"><i class="icon icon-ic-back"></i></a>
                    <h1>{{data.mediaItem.name}}</h1>
                </div>
                <div class="col-md-5 text-right">
                    <a ng-click="saveMedia()" class="btn btn-primary uppercase">Accept</a>
                </div>
            </div>
        </div>

        <div loader ng-show="view.busy"></div>

        <form
            class="edit-media-form"
            name="form1"
            novalidate
            >

            <div class="panel panel-kaching">
                <div class="panel-heading"><h3 class="panel-title">Media preview</h3></div>
                <div class="panel-body">

                    <div class="form-group form-group-media-name">
                        <select ng-model="mediaTypeProp.mediaTypeSelect" ng-options="v for v in mediaTypeProp.values">
                        </select>
                    </div>

                    <div ng-show="data.mediaItem.is_active" class="alert alert-danger">
                        This media belongs to an active campaign!
                    </div>

                    <div class="media-preview-container-lg">
                        <div class="video-container">
                            <div
                                nv-file-drop
                                ifm-uploader-preview-video="data.videoFile"
                                uploader="uploader"
                                options="{ alias: 'video' }"
                                filters="videoFilter"
                                ifm-over-class="fileover"
                                class="uploader-dropzone"
                                ng-class="{ 'has-error' : showErrors() && videoHasError(), 'video-selected' : view.hasVideo }"
                                ng-show="mediaTypeProp.mediaTypeSelect == 'Upload Media'"
                                >
                                <div class="progress-container" ng-show="view.videoUploadStarted">
                                    <div class="progress" ng-class="{ 'complete': view.videoUploadComplete }">
                                      <div class="progress-bar" ng-style="{ 'width': view.videoUploadProgress + '%' }"></div>
                                    </div>
                                </div>
                                <div class="uploader-label-overlay">
                                    <i class="icon-ic-upload"></i>
                                    <br>
                                    <span ng-hide="data.videoFile"><br>Simply drag and drop video file<br>or <span class="higlight">browse</span> on your disk.</span>
                                    <span ng-show="data.videoFile">{{data.videoFile.name}}</span>
                                    <span class="size-hint">16:9</span>
                                </div>
                                <input
                                    nv-file-select
                                    type="file"
                                    uploader="uploader"
                                    options="{ alias: 'video' }"
                                    filters="videoFilter"
                                    title=" "
                                    multiple
                                    >
                            </div>
                            <div ng-show="mediaTypeProp.mediaTypeSelect == 'External Link'">
                                <div class="form-group" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'media_link' ) }">
                                    <input
                                            name="media_link"
                                            type="url"
                                            class="form-control media-link"
                                            placeholder="Adding video link before upload"
                                            ng-model="data.mediaLink"
                                            ng-required="mediaTypeProp.mediaTypeSelect == 'External Link'"
                                    >
                                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'media_link' )" class="help-block">Please enter media video link.</span>
                                </div>
                            </div>
                        </div>
                        <div class="image-container">
                            <div
                                nv-file-drop
                                ifm-uploader-preview-image="data.imageFile"
                                uploader="uploader"
                                options="{ alias: 'display' }"
                                filters="imageFilter"
                                ifm-over-class="fileover"
                                class="uploader-dropzone"
                                ng-class="{ 'has-error' : showErrors() && imageHasError() }"
                                >
                                <div class="uploader-label-overlay">
                                    <i class="icon-ic-upload"></i>
                                    <br><br>
                                    Simply drag and drop file<br>or <span class="higlight">browse</span> on your disk.
                                    <!-- <span class="size-hint">1280x1200</span> -->
                                </div>
                                <div class="progress-container" ng-show="view.imageUploadStarted">
                                    <div class="progress" ng-class="{ 'complete': view.imageUploadComplete }">
                                      <div class="progress-bar" ng-style="{ 'width': view.imageUploadProgress + '%' }"></div>
                                    </div>
                                </div>
                                <input
                                    nv-file-select
                                    type="file"
                                    uploader="uploader"
                                    options="{ alias: 'display' }"
                                    filters="imageFilter"
                                    title=" "
                                    multiple
                                    >
                            </div>
                        </div>
                        <div class="error-container-video" ng-class="{ 'has-error' : showErrors() && videoHasError() }">
                            <span ng-show="showErrors() && videoHasError()" class="help-block">Please add the video.</span>
                        </div>
                        <div class="error-container-image" ng-class="{ 'has-error' : showErrors() && imageHasError() }">
                            <span ng-show="showErrors() && imageHasError() && errors.image.size" class="help-block">Image size must be 1280 wide and 1200 tall.</span>
                            <span ng-show="showErrors() && imageHasError() && !errors.image.size" class="help-block">Please add the image.</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-kaching">
                <div class="panel-heading"><h3 class="panel-title">Media details</h3></div>
                <div class="panel-body">

                    <div class="form-group" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'media_name' ) }">
                        <input
                            name="media_name"
                            type="text"
                            class="form-control media-name"
                            placeholder="Name of your media"
                            ng-model="data.mediaItem.name"
                            required
                            >
                        <span ng-show="showErrors() && fieldHasError( this, 'form1', 'media_name' )" class="help-block">Please enter media name.</span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Date added</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    value="{{ data.mediaItem.date_added | date : 'dd-MM-yyyy' }}"
                                    disabled
                                    >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Last used date</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    value="{{ data.mediaItem.last_used_date | date : 'dd-MM-yyyy' }}"
                                    disabled
                                    >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <input type="text" class="form-control" value="{{ data.mediaItem.is_active ? 'Active' : 'Inactive' }}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
