<div class="modal kaching-modal modal-warning-stop-campaign" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()"><span class="ion-icon ion-close-round"></span></button>
                <h4 class="modal-title">Stop this campaign</h4>
            </div>
            <div class="modal-body text-center">
                <p><b>Please stop this campaign before editing/deleting it.</b></p>
                <div class="row row-buttons">
                    <div class="col-md-12 col-left">
                        <button type="button" class="btn btn-block btn-primary uppercase" ng-click="$hide()" style="margin: 15px auto">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
