.advertiser-management-page {
    .ic-user-management {
        color: #5b5c59;
        font-size: 20px;
        &:hover {
            color: #5b5c59 !important;
        }
    }
}

.margin-auto {
    margin: 0 auto;
}
