<div class="modal kaching-modal modal-delete-product" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()"><span class="ion-icon ion-close-round"></span></button>
                <h4 class="modal-title">Remove product</h4>
            </div>
            <div class="modal-body text-center">
                <div ng-show="product.is_active" class="alert alert-danger">
                    This product belongs to an active campaign!
                </div>
                <p>
                    Are you sure you want to remove this product?
                </p>
                <div class="row row-buttons">
                    <div class="col-md-6 col-left">
                        <button type="button" class="btn btn-default btn-block uppercase" ng-click="$hide()">Cancel</button>
                    </div>
                    <div class="col-md-6 col-right">
                        <button type="button" class="btn btn-primary btn-block uppercase" ng-click="delete()">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
