.btn-clear-upload-file {
    position: absolute;
    z-index: 150;
    left: 5px;
    top: 5px;
    border: 1px solid #ae843a;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    color: #ae843a;
}
