<div class="wrap container page-reset-password">
    <div class="text-center">

        <div ng-show="view.urlError">
            <h3>Your reset password link appears to be incorrect. Get a <a href="" ng-click="showForgotPasswordDialog()">new link</a>.</h3>
        </div>

        <div ng-show="view.success">
            <h3>Your password has been changed.</h3>
            <button type="button" class="btn btn-primary" ng-click="showLoginDialog()">Sign in</button>
        </div>

        <form
            ng-show="!view.success && !view.urlError"
            name="form1"
            ng-submit="formSubmit()"
            novalidate
            >

            <h3 class="text-center">Reset password</h3>

            <div class="form-group" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'new_password' ) }">
                <input
                    id="new-password"
                    type="password"
                    name="new_password"
                    class="form-control"
                    placeholder="New password"
                    ng-model="data.newPassword"
                    ng-disabled="view.sending"
                    ng-minlength="6"
                    required
                    >
                <span ng-show="showErrors() && fieldHasError( this, 'form1', 'new_password' )" class="help-block">
                    <span ng-show="!form1.new_password.$error.minlength">Please enter new password.</span>
                    <span ng-show="form1.new_password.$error.minlength">This password is too short, it should have 6 characters or more.</span>
                </span>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'new_password_repeat' ) }">
                <input
                    id="new-password-repeat"
                    type="password"
                    name="new_password_repeat"
                    class="form-control"
                    placeholder="Repeat new password"
                    ng-model="data.newPasswordRepeat"
                    ng-disabled="view.sending"
                    password-match="new-password"
                    required
                    >
                <span ng-show="showErrors() && fieldHasError( this, 'form1', 'new_password_repeat' )" class="help-block">
                    <span ng-show="!form1.new_password_repeat.$error.pwmatch">Please repeat the new password.</span>
                    <span ng-show="form1.new_password_repeat.$error.pwmatch">New password must be the same.</span>
                </span>
            </div>

            <div class="form-group">
                <button
                    class="btn btn-primary btn-block uppercase"
                    type="submit"
                    ng-disabled="view.sending"
                    >Change password</button>
            </div>

        </form>

    </div>
</div>