<!-- <header> -->
    <!-- <nav class="navbar navbar-main clearfix"> -->
        <!-- <div class="navbar-main-container container" style="padding:0;"> -->
            <div class="container-logo">
                <a class="logo-link" href="" ng-click="logoClick()" prevent-default>
                    <img class="logo" ng-src="{{logoSrc}}" alt="">
                </a>
            </div>
            <div class="navigation-kaching">
                <span panel-nav logged-in="loggedIn"></span>
                <!-- <span site-nav logged-in="loggedIn"></span> -->
            </div>

            <!-- <span user-nav-bar logged-in="loggedIn" is-homepage="false"></span> -->

        <!-- </div> -->
    <!-- </nav> -->
<!-- </header> -->
