.date-picker-addon {
    position: relative;
    z-index: 250;
}

.btn-clear-date-picker {
    position: absolute;
    z-index: 150;
    left: 15px;
    top: 9px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
