.modal-password-reset{
    .modal-dialog {
        width: 450px;
        .modal-header {
            padding: 0px;
        }
        .modal-body {
            padding: 0px;
            .forgot-password-wrapper {
                padding: 15px 15px 0 15px;
                .form-group {
                    margin-bottom: 15px;
                }
                .paragraph-center {
                    text-align: justify;
                    line-height: inherit;
                }
            }
        }
    }
}
