<form
    class="add-campaign-step1"
    name="form1"
    novalidate
    >

    <div loader ng-show="view.busy"></div>

    <div ng-if="!view.busy">

        <div class="panel panel-kaching panel-tooltips-outside">

            <div class="panel-heading"><h3 class="panel-title">Campaign information</h3></div>
            <div class="panel-body">

                <div class="form-group" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'campaign_name' ) }">
                    <input
                        name="campaign_name"
                        type="text"
                        class="form-control campaign-name"
                        placeholder="Campaign name"
                        ng-model="campaign.name"
                        required
                        >
                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'campaign_name' )" class="help-block">Please enter campaign name.</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'daterange' ) }">
                    <div class="input-group">
                        <div
                            date-range-picker
                            name="daterange"
                            type="text"
                            placeholder="Date range"
                            class="form-control date-picker"
                            min="daterange.min"
                            options="{ opens: 'center', autoApply: true, locale: { format: 'YYYY-MM-DD', firstDay: 1 } }"
                            ng-model="daterange.dates"
                            ng-required="true"
                            >{{ daterange.display }}</div>
                        <div class="input-group-addon">
                            <span class="icon ion-ios-calendar-outline"></span>
                        </div>
                    </div>
                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'daterange', 'required' )" class="help-block">Please select the campaign start and end dates.</span>
                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'daterange', 'min' )" class="help-block">Start date cannot be in the past.</span>
                </div>

            </div>

        </div>

        <div class="steps-footer">
            <div class="pull-right">
                <a href="" class="btn btn-primary uppercase" ng-click="nextStep()">Next step</a>
            </div>
        </div>

    </div>
</form>
