.modal-header {
	border-bottom: 1px solid #dae2e5;
}
.modal-content{
	background-color:$new-gray-light;
}
.close {
	text-shadow:none;
	color: $light;
	&:hover{
		color:$light;
	}
}
#infoModal{
	span{
		font-size:12px;
		color: $gray-darkest;
		text-transform: capitalize;
		font-weight: 600;
	}
	.error{
		font-size:12px;
		color: $gray-dark;
		font-weight: 400;
	}
}