@import '../common/_mixin.scss';

.close {
  // background-image: url("../images/remove-icon-small.png") !important;
}

.vis-custom-time {
  background-color: red;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.vis-item {
  background-color: #dff2ee;
  border: 1px dashed #b2e6d0;
  color: #62d19c;
  font-family: 'gotham-medium';
}

.vis-item.vis-selected {
  color: #0dbd65;
  border: 1px solid #0dbd65;
  background-color: #c9eddf;
}

.fa.fa-cloud-upload.fa-2 {
  font-size: 2em;
}

.ico-male-female {
  background: url(../images/ico-male-female.png) no-repeat;
  width: 59px;
  height: 31px;
  display: block;
}

.circle {
  border-radius: 50%;
}

.fa.fa-trash-o.fa-2 {
  font-size: 2em;
}

.line-h-40 {
  line-height: 40px;
}

.line-h-44 {
  line-height: 44px;
}

.line-h-30 {
  line-height: 30px;
}

.ico-search {
  background: url(../images/ico-search.png) no-repeat;
  width: 18px;
  height: 18px;
  display: block;
}

.ico-remove {
  background: url(../images/ico-remove.png) no-repeat;
  width: 20px;
  height: 20px;
  display: block;
}

.ico-search-table {
  position: absolute;
  top: 6px;
  right: 5px;
  z-index: 9;
}

.btn.loading, a.btn.loading:visited {
  background-image: url('../images/preloader2.gif');
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent !important;
  cursor: default;

  &.btn-custom-v1 {
    background-color: #dfdddd;
  }
}

.label, .table.table-light > thead > tr > th, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'gotham';
  font-weight: 300;
}

.normal-font {
  font-weight: normal;
}

.text-underline {
  text-decoration: underline
}

a {
  &:focus {
    text-decoration: none;
  }
}

.top-4 {
  position: relative;
  top: 4px;
}

.table-center {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell-midle {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-cancle, .btn-save, .btn-next-step {
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  border-radius: 4px;
  display: inline-block;
  // margin-left:13px;
  cursor: pointer;
}

.photo-center {
  background-size: cover;
  background-position: center center;
}

.btn-cancle {
  background-color: #fff;
  border: 1px solid #8d99a7;
  color: #333;
}

.btn-save {
  color: #fff;
  background-color: #448aff;
  border: none;
}
.mar-t-5{
  margin-top: 5px;
}
.txt-blue {
  color: #448aff;
}

.txt-green {
  color: #299817;
}

.txt-deep-grey {
  color: #5e6771;
}

.txt-white {
  color: #fff;
}

.border-blue {
  border: 1px solid #e4e8f0;
}

.ico-age {
  width: 65px;
  height: 38px;
  background-image: url(../images/ico-age.png);
  background-repeat: no-repeat;
  display: block;
  margin: 15px auto 10px;
}

.ico-age-18 {
  background-position: 0 -38px;
}

.ico-age-25 {
  background-position: 0 -76px;
}

.ico-age-35 {
  background-position: 0 -113px;
}

.ico-age-45 {
  background-position: 0 -150px;
}

.ico-age-55 {
  background-position: 0 -190px;
}

.ico-age-65 {
  background-position: 0 0;
}

.ico-drop {
  width: 75px;
  height: 95px;
  background-image: url(../images/ico-drop.png);
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.ico-drop-step-1 {
  background-position: 0 0;
}

.ico-drop-step-2 {
  background-position: 0 -95px;
}

.ico-drop-step-3 {
  background-position: 0 -190px;
}

.ico-drop-step-4 {
  background-position: 0 -285px;
}

.ico-drop-step-5 {
  background-position: 0 -380px;
}

.ico-bar-drop {
  width: 30px;
  height: 190px;
  background-image: url(../images/ico-bar-drop.png);
  background-repeat: no-repeat;
  display: block;
}

.ico-bar-drop-1 {
  background-position: 0 0;
}

.ico-bar-drop-2 {
  background-position: -30px 0;
}

.ico-bar-drop-3 {
  background-position: -60px 0;
}

.ico-bar-drop-4 {
  background-position: -90px 0;
}

.ico-status {
  width: 9px;
  height: 9px;
  background-image: url(../../../kaching3/assets/images/dashboard/ico-status.png);
  background-repeat: no-repeat;
  display: block;
}

.ico-status-increase {
  background-position: 0 0;
}

.ico-status-decrease {
  background-position: 0 -9px;
}

.ico-sex-app {
  width: 40px;
  height: 40px;
  background-image: url(../images/ico-sex-app.png);
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.ico-sex-app-male {
  background-position: 0 0;
}

.ico-sex-app-female {
  background-position: 0 -40px;
}

.ico-sex-app-ios {
  background-position: 0 -80px;
}

.ico-sex-app-androil {
  background-position: 0 -120px;
}

.ico-house {
  width: 35px;
  height: 35px;
  background-image: url(../images/ico-house.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin: auto;
}

.ico-house-urban {
  background-position: 0 0;
}

.ico-house-suburban {
  background-position: 0 -35px;
}

.ico-house-rural {
  background-position: 0 -70px;
}

.ico-house-usd {
  background-position: 0 -105px;
}

.ico-house-coin {
  background-position: 0 -140px;
}

.ico-house-coin-usd {
  background-position: 0 -175px;
}

.ico-house-bag-money {
  background-position: 0 -175px;
}

.ico-education {
  width: 65px;
  height: 65px;
  background-image: url(../images/ico-education.png);
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.ico-education-primary {
  background-position: 0 0;
}

.ico-education-highschool {
  background-position: 0 -65px;
}

.ico-education-college {
  background-position: 0 -130px;
}

.ico-education-university {
  background-position: 0 -195px;
}

.title-page {
  font-size: 28px;
  margin-bottom: 30px;
}

.ico-type {
  width: 25px;
  height: 25px;
  background-image: url(../images/ico-type.png);
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.ico-type-video {
  background-position: 0 0;
}

.ico-type-print {
  background-position: 0 -25px;
}

.ico-type-image {
  background-position: 0 -50px;
}

.ico-dashboard {
  width: 50px;
  height: 50px;
  background-image: url(../images/ico-dashboard.png);
  background-repeat: no-repeat;
  display: block;
}

.ico-dashboard-mainstat {
  background-position: 0 0;
}

.ico-dashboard-recentscans, .ico-dashboard-campaign {
  background-position: 0 -50px;
}

.ico-dashboard-scanstrend {
  background-position: 0 -100px;
}

.ico-dashboard-weekdayscans {
  background-position: 0 -150px;
}

.ico-dashboard-daytimescans {
  background-position: 0 -200px;
}

.ico-dashboard-toptrigger {
  background-position: 0 -250px;
}

.ico-dashboard-topcountry {
  background-position: 0 -300px;
}

.ico-dashboard-demographic {
  background-position: 0 -350px;
}

.ico-dashboard-agetimeline {
  background-position: 0 -400px;
}

.ico-dashboard-genretimeline {
  background-position: 0 -450px;
}

p {
  margin: 0 0 10px;
}

input[type='text'], select, input[type='email'], input[type='password'], select {
  width: 100%;
  height: 35px !important;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  box-shadow: none !important;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-b-3 {
  margin-bottom: 3px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.over-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.relative {
  position: relative;
}

.checkbox-ios {
  width: 85px;
  height: 30px;
  background: #c3ced9;
  margin-top: 10px;
  position: relative;
  border-radius: 50px;
  &:before {
    content: 'stopped';
    color: #fff;
    position: absolute;
    right: 5px;
    z-index: 0;
    font: 10px/30px Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  .for-inactive {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #13bf69;
    opacity: 0;
    transition: all 300ms ease-in;
    border-radius: 49px;
    &:after {
      content: 'live';
      color: #fff;
      position: absolute;
      left: 10px;
      z-index: 0;
      font: 10px/30px Arial, sans-serif;
      font-weight: bold;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
      text-transform: uppercase;
    }
  }
  label {
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 2;
    background: #fcfff4;
    border-radius: 50%;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 57px;
    }
    &:checked ~ .for-inactive {
      opacity: 1;
    }
  }
}

body {
  font-family: 'gotham';
  font-weight: 300;
  font-size: 14px;
  background-color: #f7f8f8;
  color: #343b45;
  line-height: 24px;
}

.font-25 {
  font-size: 25px;
}

.font-22 {
  font-size: 22px;
}

.font-13 {
  font-size: 13px;
}

.font-16 {
  font-size: 16px;
}

.font-12 {
  font-size: 12px;
}

.font-11 {
  font-size: 11px;
}

.font-9 {
  font-size: 9px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.margin-0 {
  margin: 0;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-r-15 {
    margin-right: 15px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-5 {
  margin-top: 5px;
}

.line-h {
  line-height: 30px;
}

.line-35 {
  line-height: 35px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

.form-control {
  min-height: 35px;
}

.des-newlines {
  white-space: pre-wrap;
}

.txt-grey {
  color: #354052;
}

.btn-custom-v1 {
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  color: #999;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 300;
  margin-right: 10px;
}

.main-content-all {
  padding-top: 55px;
  padding-left: 260px;

  .page-title {
    font-size: 40px;
    font-weight: 500;
    color: #8f989e;

    &.v1 {
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }
  }
}

// .page-header {
//   margin-top: 0;
//   height: 55px;
//   margin-bottom: 0;
//   padding-bottom: 0;
//   background-color: #1e2225;
//   position: fixed;
//   width: 100%;
//   z-index: 1049;
//
//   .navbar-nav {
//     > li > a.profile-info {
//       padding-top: 0;
//       padding-bottom: 0;
//       heigth: 55px;
//       padding-top: 12.5px;
//       padding-bottom: 12.5px;
//
//       &:hover,
//       &:focus {
//         background-color: #8f989e;
//       }
//     }
//   }
//
//   .nav {
//     .dropdown-menu {
//       width: 100%;
//
//       li {
//         a {
//           padding-top: 10px;
//           padding-bottom: 10px;
//           cursor: pointer;
//         }
//       }
//     }
//
//     .open > a {
//       &:hover,
//       &:focus {
//         background-color: #8f989e;
//       }
//     }
//   }
//
//   .navbar-brand {
//     padding-top: 12px;
//   }
//
//   .navbar-right {
//     margin-right: 0;
//   }
//
//   .u-name {
//     color: #fff;
//     padding-right: 15px;
//     padding-top: 5px;
//   }
// }

.navbar-fixed-left {
  z-index: 1;
  position: fixed;
  width: 260px;
  margin-top: 54px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #8f989e;
  -webkit-box-shadow: inset -10px 0px 17px -8px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: inset -10px 0px 17px -8px rgba(0, 0, 0, 0.76);
  box-shadow: inset -10px 0px 17px -8px rgba(0, 0, 0, 0.76);

  .left-menu {
    .media {
      padding: 17px 5px 17px 10px;
      margin-top: 0;
      background-color: #8f989e;
      border-bottom: 1px solid #a5adb1;
      -webkit-box-shadow: inset -10px 0px 17px -8px rgba(0, 0, 0, 0.76);
      -moz-box-shadow: inset -10px 0px 17px -8px rgba(0, 0, 0, 0.76);
      box-shadow: inset -10px 0px 17px -8px rgba(0, 0, 0, 0.76);

      &:hover,
      &.active {
        cursor: pointer;

        .media-body {
          .media-heading {
            color: #222;
          }
        }

        .icon-dashboard {
          background-position: 0 0;
        }

        .icon-product {
          background-position: 0 0;
        }

        .icon-order {
          background-position: 0 0;
        }

        .icon-account {
          background-position: 0 0;
        }

        .icon-analytics {
          background-position: 0 0;
        }

        .icon-tutorial {
          background-position: 0 0;
        }

        .icon-faqs {
          background-position: 0 0;
        }
      }

      .media-left {
        padding-left: 5px;

        div {
          transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
        }
      }

      .media-body {
        .media-heading {
          font-size: 16px;
          font-weight: 300;
          color: #fff;
        }
      }

      .icon-dashboard {
        min-width: 40px;
        height: 37px;
        background-size: 100%;
        background-position: 0 -43px;
      }

      .icon-product {
        min-width: 40px;
        height: 40px;
        background-size: 100%;
        background-position: 0 -40px;
      }

      .icon-order {
        min-width: 40px;
        height: 40px;
        background-size: 100%;
        background-position: 0 -40px;
      }

      .icon-account {
        min-width: 40px;
        height: 33px;
        background-size: 100%;
        background-position: 0 -47px;
      }

      .icon-analytics {
        min-width: 40px;
        height: 33px;
        background-size: 100%;
        background-position: 0 -47px;
      }

      .icon-tutorial {
        min-width: 40px;
        height: 43px;
        background-size: 100%;
        background-position: 0 -44px;
      }

      .icon-faqs {
        min-width: 40px;
        height: 40px;
        background-size: 100%;
        background-position: 0 -40px;
      }
    }
  }
}

.btn-custom-v1 {
  background-color: #dfdddd;
  background: linear-gradient(to bottom, #f4f5f5 0%, #dfdddd 100%);
  color: #666666;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 300;
  margin-right: 10px;
  border: 1px solid #e3e3e3;
  text-transform: uppercase;
  outline: none;

  &:focus {
    background-color: #dfdddd;
    outline: none !important;
  }

  .icon-save {
    background-image: url(..../images/ic/ic_save.png);
    height: 23px;
    width: 21px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin: auto;
    margin-right: 10px;
  }
}

.btn-group {
  &.btn-group-custom-v1 {
    width: 100%;
    position: relative;

    .btn {
      background-color: #fff;
      font-size: 16px;
      font-weight: 300;
      border: 1px solid #ddd;
      border-radius: 5px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 30px;
      width: 100%;
    }

    .glyphicon {
      position: absolute;
      right: 10px;
      top: 12px;
      color: $dark-blue;
    }

    .ellipsis {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.no-margin {
  margin: 0;
}

.btn .icon-save {
  background-image: url(../images/ic_save.png);
  height: 23px;
  width: 21px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: auto;
  margin-right: 15px;
}

.dropdown-menu {
  &.dropdown-menu-v1 {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

    > li > a {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.highcharts-container {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .main-content-all {
    .container-fluid {
      padding: 30px;
    }
  }
}

@media (min-width: 992px) {
  .main-content-all {
    .container-fluid {
      padding-top: 30px;
    }
  }
}

@media (min-width: 768px) {
  .main-content-all {
    .container-fluid {
      padding-top: 30px;
    }
  }
}

.more-text {
  display: none
}

.read-more {
  color: #8f989e;
  cursor: pointer;
  font-weight: bold
}

/*common-checkbox-radio*/
.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.square-checkbox input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.square-checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.square-checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.square-checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.square-checkbox,
.radio {
  padding-left: 20px !important;
  margin-bottom: 5px !important;
}

.square-checkbox label,
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.square-checkbox label::before,
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.square-checkbox label::after,
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  left: 5px;
  top: 5px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #04be5b;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.square-checkbox input[type="checkbox"],
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.square-checkbox input[type="checkbox"]:focus + label::before,
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.square-checkbox input[type="checkbox"]:checked + label::after,
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.square-checkbox input[type="checkbox"]:disabled + label,
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.square-checkbox input[type="checkbox"]:disabled + label::before,
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.square-checkbox.radio-inline,
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

/*end common*/

.btn-group.btn-group-icon {
  color: #FFF;
  font-weight: lighter;

  > .icon {
    background-color: $dark-blue2;
    padding-top: 6px;
    font-weight: lighter;
    border-radius: 8px;
    &:hover {
      color: #FFF;
      font-weight: lighter;
    }
  }

  .text {
    padding-left: 10px;
    font-weight: lighter;
    border-radius: 8px;
    background-color: $dark-blue;
    &:hover {
      font-weight: lighter;
      color: #FFF;
    }
  }
}

.btn.btn-custom {
  color: #FFF;
  font-weight: lighter;
  border-radius: 8px;
  background-color: $dark-blue;
}

.display-block {
  display: block;
}

.dashboard-settings-modal {
  .dashboard-settings {
    .option {
      width: 120px;
      height: 100px;
      border: 1px solid #337ab7;
      background: #fafafa;
      float: left;
      margin: 10px;
      text-decoration: none;
      p {
        text-align: center;
        margin-top: 20%;
        font-weight: bold;
      }
      .fa-4 {
        font-size: 4em;
        display: block;
        text-align: center;
        margin-top: 30%;
      }
      .top-right {
        text-align: right;
        display: block;
        margin-right: 5px;
        margin-top: 5px;
      }
    }
    .inactive {
      color: black;
      border: 1px solid grey;
      .top-right {
        display: none;
      }
    }
    .active .fa-4 {
      margin-top: 13%;
    }
  }
  .btn {
    border-radius: 3px !important;
  }
  .cancel {
    margin-right: 10px;
    background-color: white !important;
    color: black;
    border: 1px solid grey;
  }
  .cancel:hover {
    color: black;
  }
}

.increase-color-text {
  color: #23C372;
}

.decrease-color-text {
  color: #E52B5A;
}

.marginTop-07 {
  margin-top: 7px;
}

.showContainerMap {
  z-index: 10 !important;
  opacity: 1 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
