
.navbar-main {
  padding: 0 30px;
  background: $colour_gray_dark;
  .logo-link {
    display: inline-block;
    position: relative;
    top: -5px;
    padding: 0 15px;
    margin-right: 15px;
  }
  .logo {
    vertical-align: middle;
  }
  .panel-nav,
  .site-nav,
  .user-nav {
    margin: 0;
    padding: 20px 0;
    display: inline-block;
    li {
      display: inline-block;
    }
    a {
      display: block;
      padding: 7px 15px;
      border-radius: 20px;
      font-weight: 300;
      color: $light;
      @include transition( all .3s )
      &:hover {
        text-decoration: none;
        color: $colour_brand_primary;
      }
      &:focus {
        text-decoration: none;
      }
    }
    .signup {
      margin-left: 10px;
      padding: 6px 40px;
      border: 1px solid $colour_brand_primary;
      color: $colour_brand_primary;
      &:hover {
        border-color: $colour_brand_primary;
        background: $colour_brand_primary;
        color: $colour_gray_darkest;
      }
    }
  }
}
.navbar-main-container {
  margin: 0 auto;
}
.navbar-main-home {
  padding-top: 20px;
  background: transparent;
  .navbar-main-container {
    max-width: 1400px;
  }
}
.user-nav-bar {
	float: right;
	  &.logedin {
	}
	.dropdown-menu {
	    li {
	      display: block;
	    }
	    a {
	      color: $colour_gray_dark;
	      &:hover {
	        color: $colour_brand_primary;
          background: transparent;
	      }
	    }
	}
  .account-view-switch {
    float: left;
    margin-right: 20px;
    li {
      padding-top: 5px;
    }
    a {
      font-size: 11px;
      padding: 3px 10px;
      &.active {
        background: $colour_brand_primary;
        color: $colour_gray_dark;
      }
    }
  }
  .account-balance {
    position: relative;
    top: 5px;
    float: left;
    margin-right: 5px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $light;
    .amount {
      font-weight: 600;
    }
    .balance-label {
      font-weight: 400;
    }
  }
  a.username{
    float: left;
	  color: $colour_brand_primary;
		&:before{
			position:relative;
			top: 3px;
			width: 22px;
			height: 22px;
			padding-right: 8px;
			content: '\6a' !important;
			font-size: 22px;
			font-family: "untitled-font-5" !important;
			content: attr(data-icon);
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}

