.products-page {
    .toolbar {
        margin-bottom: 20px;
    }
    .products-grid {
        overflow: hidden;
        margin-left: -15px;
        margin-right: -15px;
        .scroll-spacer {
            width: 100%;
            height: 50px;
            clear: both;
        }
    }
    .product-container {
        width: 25%;
        float: left;
        padding: 15px;
        position: relative;
        .image-container {
            margin-bottom: 5px;
            padding: 10px;
            border: 1px solid $new-gray-semilight;
        }
        .image-holder {
            height: 0;
            padding-bottom: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        .icon-selected {
            position: absolute;
            bottom: 15px;
            right: 15px;
            font-size: 32px;
            .glyphicon {
                display: block;
            }
        }
        .product-container-bottom {
            overflow: hidden;
        }
        .product-metadata {
            width: 55%;
            float: left;
        }
        .product-toolbar {
            width: 45%;
            float: left;
            text-align: right;
        }
        .title {
            position: relative;
            overflow: hidden;
            font-weight: 600;
            white-space: nowrap;
            color: $gray-darkest;
            &:after {
                content: " ";
                width: 30px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                @include gradient-horizontal( rgba(255,255,255,0), #fff );
            }
        }
        .date {
            font-size: 0.8em;
        }
        .btn-action {
            display: inline-block;
            padding: 3px;
            background: $gray-darkest;
            color: #fff;
            border-radius: 20px;
            .icon {
                display: block;
            }
            &:hover {
                background: $brand-primary;
            }
        }
    }    
}
.product-view-page {
    .header-bar {
        margin-bottom: 30px;
        .btn-back {
            display: inline;
            padding: 0;
            font-size: 33px;
            line-height: 40px;
            vertical-align: middle;
            padding-right: 10px;
            color: $gray-darkest;
            &:hover {
                color: $brand-primary;
            }
            .icon {
                position: relative;
                top: -6px;
                font-size: 33px;
                vertical-align: middle;
            }
        }
        h1 {
            margin: 0;
            padding: 0 0 0 10px;
            display: inline;
            font-size: 24px;
            line-height: 40px;
            vertical-align: middle;
        }
    }
}
.product-view-page {
    .image-container {
        margin-bottom: 5px;
        border: 1px solid $new-gray-semilight;
    }
    .image-holder {
        height: 0;
        padding-bottom: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}
