<div class="wrap container expired-page" role="document">
    <div class="text-center">
        <h2 class="text-center">Your session has expired.</h2>
        <h3 class="text-center">Sign into your account</h3>
        <form class="form-login" ng-submit="signinFormSubmit()">
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="E-mail"
                    autofocus
                    ng-model="loginFormData.email"
                    ng-disabled="view.busy"
                    >
            </div>
            <div class="form-group">
                <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    ng-model="loginFormData.password"
                    ng-disabled="view.busy"
                    >
            </div>
            <div
               class="alert alert-danger"
               ng-show="view.formError && !view.busy"
               >Please enter valid e-mail address and password.</div>
            <div class="form-group">
                <button
                    class="btn btn-primary btn-block uppercase"
                    type="submit"
                    ng-disabled="view.busy"
                    >Sign in</button>
            </div>
        </form>
    </div>
</div>
