@media screen and (max-width:767px) {
	.modal-wrapper{
		width:95%;
		.modal-wrapper-head{
			padding-top:10px;
			margin-top:10px;
			i{
				top:13px;
			}
		}
		.modal-header{
			padding:0px 15px;
		}
		#signupform{
			padding-top:4px;
		}
		.modal-dialog{
			width:95%;
		}
		.form-container{
			width:100%;
		}
		.sign-in-btn{
			font-size:12px;
		}
		.modal-footer{
			padding-bottom:10px;
		}
	}
}
@media screen and (min-width:768px) {
	.modal-wrapper{
		width:460px;
		.modal-wrapper-head{
			margin-top:75px;
			padding-top:40px;
			i{
				top:43px;
			}
		}
		.modal-dialog{
			width:420px;
		}
		.form-container{
			width:87%;
		}
		.sign-in-btn{
			font-size:14px;
		}
		.modal-footer{
			padding-bottom:40px;
		}
	}
}
.modal-wrapper{

	position:relative;
	margin:0px auto;
	// background:#232e33;
	border-radius:10px;

	transform: translate(0,-25%);
	transition: transform .3s ease-out;
	.modal-header{
		.close{
		    margin-top: 20px;
		    right: 35px;
		    position: absolute;
		    opacity:1;
		    i{
		    	color: $new-gray-dark;
		    }
		}
	}
	#resetemail{
		margin-top:25px;
	}
	#signupcontent{
		// padding-top:25px;
	}


	.modal-wrapper-head{
		padding-bottom:1px;

		svg{
			height:40px;
			fill:#fff;
		}
		i{
			font-size:18px;
			cursor:pointer;
			position:absolute;
			right:35px;
		}
	}

	.modal-content{
		box-shadow:none !important;
		border-radius:10px;
	}
	.modal-title{

		font-size:22px;
		font-weight:600;
		padding-top:15px;
		padding-bottom:17px;
		color: $gray-darkest;
	}
	.form-container{
		position:relative;
		margin:0px auto;
		p{
			font-size:18px;
			margin-bottom:7px;
			padding: 0 30px;
			// margin-top:17px;
			line-height:26px;
		}
	}
	.modal-dialog{
		border-radius:4px;
		transform: none !important;
		margin-bottom:20px;
	}
	.bottom-info{
		padding-bottom:20px;
		font-weight:600;
		display:block;
		color:$light;
		line-height: 1;
	}
	.modal-body{
		padding-bottom:6px;
		padding-top:32px;
	}
	.modal-footer{
		border-top:none;
		padding-top:6px;
		.btn{
			padding-top:13px;
			padding-bottom:13px;
			line-height: 1;
		}
		.btn-primary{
			text-transform:uppercase;
			font-size:12px;

		}
		.sign-in-btn{
			width:48%;
			float:left;
			border-radius:4px;
			font-weight:700;
			&:last-child{
				margin-left:4%;
			}
			@media screen and (max-width: $screen-sm) {
				width:100%;
				margin:0px;
				margin-bottom:4px;

			}
		}
		.sign-up-btn{
			width:100%;
			font-weight: 700;
			border-radius:4px;
		}
		.clear-btn{
			color:$gray-lightest;
			background: $gray-darkest;
			border:1px solid $gray-darkest;
			text-transform:uppercase;
			font-size:12px;
			&:hover{
				text-decoration:none;
				background: darken($gray-darkest, 3%);
			}
		}
	}
}
.modal.in .modal-wrapper{
	transform: translate(0,0);
}
#myModal2, #myModal{
	overflow-y: hidden;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill, input:-webkit-autofill:focus{
	color:$gray!important;
	    background-color:$gray-lightest!important;
    -webkit-box-shadow: 0 0 0px 1000px $gray-lightest inset;
    border:1px solid $new-gray-semilight;
    -webkit-text-fill-color: $gray !important;
}
.user-select{
	width:100%;
	min-height:150px;
	clear: both;
	// overflow:auto;
	position:relative;
	top:-5px;
	cursor: pointer;
	.selected{
		.user-crop{
			border: 1px solid $brand-primary;
		}
		img{
			top:-100px;
		}
	}
	h5, span{
		text-align: left;
		color: $gray-darkest;
		font-weight: 600;
	}
	h5{
		font-size: 16px;

	}
	span{
		font-size: 14px;
	}
	.user-crop{
		border:1px solid $new-gray-dark;
		border-radius: 3px;
		width: 100px;
		height:100px;
		overflow:hidden;
		transition:0.6 all;
		&.error {
			border-color: $brand-error;
		}
	}
	img{
		position:relative;
	}
	.user-container{
		float:left;
		position:relative;
		width:100px;
		height:auto;
		text-align: left;
	}
	.right{
		margin-left: 10px !important;
	}
	.usergroup-error {
		@extend %errorstyles;
	}
	.usergroup-error {
		float: left;
		width: 115px;
		text-align: left;
		display: none;
	}
}
.extra-padd{
	margin-bottom:33px;
}
.padd-l{
	padding-left:0px !important;
	@media (max-width:$screen-md) {
		padding-right:0px !important;
	}
	padding-right:5px !important;
	margin-bottom:10px;
}
.padd-r{
	@media (max-width:$screen-md) {
		padding-left:0px !important;
	}
	padding-right:0px !important;
	padding-left:5px !important;
	margin-bottom:10px;
}