<div class="modal kaching-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()"><span class="ion-icon ion-close-round"></span></button>
                <h4 class="modal-title">Start this campaign?</h4>
            </div>
            <div class="modal-body text-center">
                <p class="margin-b-30">Would you like to like the campaign immediately or put it on hold?</p>
                <div class="row row-buttons">
                    <div class="col-md-6 col-left clearfix">
                        <button type="button" class="btn-kaching-second pull-right" ng-click="$hide()">Cancel</button>
                    </div>
                    <div class="col-md-6 col-right clearfix">
                        <button type="button" class="btn-kaching-first pull-left" ng-click="activate()">Activate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
