<!-- <div class="wrap container invoices">
    <div class="content row">

        <div loader ng-hide="view.initialLoadComplete"></div>

        <div ng-show="view.initialLoadComplete">

            <div class="page-header">
                <h1>Billing</h1>

                <div
                    date-range-picker
                    class="daterange-picker"
                    options="{ opens: 'left', autoApply: true, locale: { format: 'YYYY-MM-DD', firstDay: 1 } }"
                    ng-model="daterange.dates"
                    >
                    <div class="btn-group">
                        <button type="button" class="btn btn-date">{{ daterange.datepickerLabel }}</button>
                        <button type="button" class="btn btn-primary dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                    </div>
                </div>

            </div>

            <br>

            <table class="table table-hover table-no-bordered">
                <tr>
                    <th>ID</th>
                    <th>Invoiced date</th>
                    <th>Credits</th>
                    <th>Due amount</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr ng-repeat="transaction in data.transactions">
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.created_at | date:'yyyy-MM-dd' }}</td>
                    <td>{{ transaction.credits }}</td>
                    <td>{{ transaction.amount | currency:'$':2 }}</td>
                    <td>{{ transaction.payment_type | transactionType }}</td>
                    <td>{{ transaction.status | transactionStatus }}</td>
                    <td><a href="" ng-click="getInvoicePdf( transaction.id )" ng-show="data.user.hasBillingDetails"><span class="icon ion-document"></span></a></td>
                </tr>
            </table>

            <div ng-if="data.transactions.length == 0">
                <h2 class="text-center">No invoices found.</h2>
            </div>

            <div class="text-center" ng-hide="data.transactionsCount <= view.itemsPerPage">
                <div
                    uib-pagination
                    ng-change="changePage()"
                    ng-model="view.currentPage"
                    max-size="view.maxSize"
                    total-items="data.transactionsCount"
                    items-per-page="view.itemsPerPage"
                    force-ellipses="true"
                    template-url="template/pagination/pagination.html"
                    >
                </div>
            </div>

        </div>

    </div>
</div> -->
<div class="container">
    <h1 class="billing-header-title">Billing</h1>
    <div ng-show="view.initialLoadComplete">
        <div class="container-list-campaign-kaching billing-list">
            <div ng-repeat="transaction in data.transactions">
                <div class="row-campaign-kaching clearfix">
                    <div class="column-campaign-kaching column-campaign-7">
                        <div class="clearfix">
                            <div class="info-brand-kaching">
                                <label>{{ transaction.id }}</label>
                                <span class="font-12 medium-font">ID</span>
                            </div>
                        </div>
                    </div>
                    <div class="column-campaign-kaching column-campaign-3">
                        <div class="clearfix">
                            <label class="">{{ transaction.created_at | date:'yyyy-MM-dd' }}</label>
                            <label class="">Invoiced date</label>
                        </div>
                    </div>

                    <div class="column-campaign-kaching column-campaign-7">
                        <label>{{ transaction.credits }}</label>
                        <span class="note-column-campaign">Credits</span>
                    </div>

                    <div class="column-campaign-kaching column-campaign-5">
                    <label>{{ transaction.amount | currency:'$':2 }}</label>
                        <span class="note-column-campaign">Due amount</span>
                    </div>

                    <div class="column-campaign-kaching column-campaign-5">
                    <label>{{ transaction.payment_type | transactionType }}</label>
                        <span class="note-column-campaign">Type</span>
                    </div>

                    <div class="column-campaign-kaching column-campaign-7">
                    <label>{{ transaction.status | transactionStatus }}</label>
                        <span class="note-column-campaign">Status</span>
                    </div>

                    <div class="column-campaign-kaching">
                        <a href="" ng-click="getInvoicePdf( transaction.id )" ng-show="data.user.hasBillingDetails"><span class="icon ion-document"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="data.transactions.length == 0">
            <h2 class="text-center">No invoices found.</h2>
        </div>

        <div class="text-center kaching-pagination paging-wrapper" ng-hide="data.transactionsCount <= view.itemsPerPage">
            <div
                uib-pagination
                ng-change="changePage()"
                ng-model="view.currentPage"
                max-size="view.maxSize"
                total-items="data.transactionsCount"
                items-per-page="view.itemsPerPage"
                force-ellipses="true"
                template-url="template/pagination/pagination.html"
                >
            </div>
        </div>
    </div>
</div>
