<div class="wrap container two-columns add-funds">

    <div loader ng-show="view.loading || view.sending"></div>

    <div class="css-table" ng-hide="view.loading || view.sending || view.mainCardError">

        <div class="col col-sidebar">

            <h1 class="sidebar-heading">Add credits</h1>
            <h2 class="sidebar-subheading">Add funds to your account and add new campaigns!</h2>
            <div class="card-details">
                <div class="card-number">
                    <div class="heading uppercase">Card number</div>
                    <div class="number">{{data.card.masked_number}}</div>
                </div>
                <div class="card-expiry">
                    <div class="heading uppercase">Expiration</div>
                    <div class="date"><span class="month">{{ data.card.expiration_date }}</span></div>
                </div>
            </div>

        </div>

        <div class="col col-main">

            <div class="panel panel-kaching">
                <div class="panel-heading">
                    <h3 class="panel-title">Credits amount</h3>
                </div>
                <div class="panel-body">
                    <p>Our recommended amount</p>
                    <ul class="credit-amounts-list">
                        <li ng-repeat="amount in data.amountsList">
                            <button type="button" class="btn btn-amount btn-block" ng-click="selectCreditsPreset( amount )">
                                <div class="amount">{{ amount }}</div>
                                <div class="amount-label">Credits</div>
                            </button>
                        </li>
                    </ul>
                    <p>Need other amount?</p>
                    <div class="row credit-amount-enter">
                        <div class="col-md-6">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Enter credits amount"
                                ng-model="data.creditsCustomAmount"
                                ng-change="selectCreditsCustom( data.creditsCustomAmount )"
                                >
                        </div>
                        <div class="col-md-6 amount-label">
                            1 credit has value {{ data.creditValue | currency:'$':2 }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-kaching panel-checkout" ng-show="data.checkoutTotal > 0">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="panel-title">Billing details</h3>
                        </div>
                        <div class="col-md-4 text-right">
                            <button
                                class="btn btn-sm btn-default uppercase"
                                ng-click="changeBillingDetails()"
                                ng-if="!view.showBillingDetailsForm"
                                >Change</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div ng-if="!view.showBillingDetailsForm">
                        <div class="row">
                            <div class="col-sm-3 text-right">Full Name:</div>
                            <div class="col-sm-9">{{ data.user.firstName }} {{ data.user.lastName }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">Company:</div>
                            <div class="col-sm-9">{{ data.user.company }}</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">Country:</div>
                            <div class="col-sm-9">{{ data.user.country }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">City:</div>
                            <div class="col-sm-9">{{ data.user.city }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">Address:</div>
                            <div class="col-sm-9">{{ data.user.address }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right">Postal Code:</div>
                            <div class="col-sm-9">{{ data.user.postalCode }}</div>
                        </div>
                    </div>

                    <form
                        name="form1"
                        class="form-horizontal"
                        autocomplete="false"
                        novalidate
                        >

                        <div class="col-md-9" ng-if="view.showBillingDetailsForm">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Full Name:</label>
                                <div class="col-sm-4" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'first_name' ) }">
                                    <input
                                        type="text"
                                        name="first_name"
                                        class="form-control"
                                        placeholder="First Name"
                                        ng-model="data.user.firstName"
                                        ng-disabled="view.sending"
                                        required
                                        >
                                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'first_name' )" class="help-block">Please enter your first name.</span>
                                </div>
                                <div class="col-sm-5" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'last_name' ) }">
                                    <input
                                        type="text"
                                        name="last_name"
                                        class="form-control"
                                        placeholder="Last Name"
                                        ng-model="data.user.lastName"
                                        ng-disabled="view.sending"
                                        required
                                        >
                                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'last_name' )" class="help-block">Please enter your last name.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Company:</label>
                                <div class="col-sm-9" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'company' ) }">
                                    <input
                                        type="text"
                                        name="company"
                                        class="form-control"
                                        placeholder="Company Name"
                                        ng-model="data.user.company"
                                        ng-disabled="view.sending"
                                        required
                                        >
                                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'company' )" class="help-block">Please enter your company name.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Country:</label>
                                <div class="col-sm-9" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'country' ) }">
                                    <select
                                        name="country"
                                        class="form-control"
                                        ng-model="data.user.country"
                                        ng-disabled="view.sending"
                                        required
                                        >
                                        <option value="">--- Please select ---</option>
                                        <option ng-repeat="country in data.countries" value="{{ country.id }}">{{country.name}}</option>
                                    </select>
                                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'city' )" class="help-block">Please select your country.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">City:</label>
                                <div class="col-sm-9" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'city' ) }">
                                    <input
                                        type="text"
                                        name="city"
                                        class="form-control"
                                        placeholder="City"
                                        ng-model="data.user.city"
                                        ng-disabled="view.sending"
                                        required
                                        >
                                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'city' )" class="help-block">Please enter city name.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Address:</label>
                                <div class="col-sm-9" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'address' ) }">
                                    <input
                                        type="text"
                                        name="address"
                                        class="form-control"
                                        placeholder="Address"
                                        ng-model="data.user.address"
                                        ng-disabled="view.sending"
                                        required
                                        >
                                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'address' )" class="help-block">Please enter your address.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Postal Code:</label>
                                <div class="col-sm-9" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'postal_code' ) }">
                                    <input
                                        type="text"
                                        name="postal_code"
                                        class="form-control"
                                        placeholder="Postal Code"
                                        ng-model="data.user.postalCode"
                                        ng-disabled="view.sending"
                                        required
                                        >
                                    <span ng-show="showErrors() && fieldHasError( this, 'form1', 'postal_code' )" class="help-block">Please enter your postal code.</span>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>

            <div class="panel panel-kaching panel-checkout" ng-show="data.checkoutTotal > 0">
                <div class="panel-heading">
                    <h3 class="panel-title">Checkout</h3>
                </div>
                <div class="panel-body">
                    <ul class="checkout-credits">
                        <li>
                            <div class="checkout-credits-amount">
                                <div class="amount">{{ data.checkoutCredits }}</div>
                                <div class="amount-label">Credits</div>
                            </button>
                        </li>
                        <li class="checkout-credits-value">
                            <span class="icon ion-android-close"></span> {{ data.creditValue | currency:'$':2 }}
                        </li>
                    </ul>
                    <div class="checkout-total">
                        <div class="total-label">Total</div>
                        <div class="total-value">{{ data.checkoutTotal | currency:'$':2 }}</div>
                    </div>
                    <div class="checkout-buttons text-right">
                        <button type="button" class="btn btn-default uppercase" ng-click="checkoutCancel()">Cancel</button>
                        <button type="button" class="btn btn-primary uppercase" ng-click="checkoutCconfirm()">Confirm</button>
                    </div>
                </div>
            </div>

            <div ng-show="view.checkoutSuccess" class="alert alert-success">
                Credits have been added to your account.
            </div>

            <div ng-show="view.checkoutFailure" class="alert alert-danger">
                There has been a problem processing your payment. Please try again later.
            </div>

            <div ng-show="view.paymentDeclined" class="alert alert-danger">
                There has been a problem processing your payment. Please check your card balance or contact your card issuer.
            </div>

        </div>

    </div>

    <div ng-show="view.mainCardError" class="main-card-error">
        <h1>There is no main card set in your account.</h1>
        <p>Please <a ui-sref="cards">set a main card</a> which will be used for payment.</p>
    </div>

</div>
