<div class="modal kaching-modal modal-password-reset" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="header-sign-up-kaching clearfix">
                    <span class="font-14 pull-left capitalize txt-white medium-font">Forget your password</span>
                    <a href="#" class="pull-right" ng-click="$hide()">
                        <img ng-src="{{kachingAppConfig.wpTemplateUri + '/assets/images/close-popup.svg'}}"/>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <form ng-show="!view.success" name="form1" ng-submit="formSubmit()" novalidate>
                    <div class="forgot-password-wrapper">

                        <div class="form-group" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'email' ) }">
                            <label class="medium-font">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="email here..." autocomplete="off" maxlength="254" ng-model="data.email" ng-maxlength="254" ng-disabled="view.sending" required>
                            <span ng-show="showErrors() && fieldHasError( this, 'form1', 'email' )" class="help-block">
                            <span ng-show="!form1.email.$error.email">Please enter your email address.</span>
                            <span ng-show="form1.email.$error.email">Please enter a valid email.</span>
                            </span>
                        </div>

                        <div class="row row-buttons">
                            <div class="col-md-12 form-group text-center">
                                <button ng-disabled="!data.email" class="btn-kaching-first" type="submit" ng-disabled="view.sending">Continue</button>
                            </div>
                        </div>
                    </div>
                </form>

                <form ng-show="view.success" name="form1" ng-submit="formSubmit()" novalidate>
                    <div class="forgot-password-wrapper">
                        <div class="form-group">
                            <span class="medium-font">Password reset email sent</span>
                        </div>

                        <p class="paragraph-center">
                            An email has been sent to rescue email, follow the directions in the email to reset your password.
                        </p>

                        <div class="row row-buttons">
                            <div class="col-md-12 form-group text-center">
                                <button class="btn-kaching-first" ng-click="$hide()">Done</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
