.campaign-confirmation {
  .block-content {
    width: 100%;
    padding: 25px;
    background: white;
    border-radius: 10px;
    margin-bottom: 15px;
    &.end-block-content {
        margin-bottom: 0;
    }
  }
  .title {
      margin-bottom: 25px;
  }
  label {
    display: block;
    margin-bottom: 0;
  }
}
.media-upload {
  label {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    font-weight: 900;
  }

  video {
    background: black;
    border-radius: 10px;
  }

  .movie-img {
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
    img {
      min-width: 100%;
      height: 260px;
    }
  }

  .media-list {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #F0F3F6;
    li {
      display: block;
      width: 100%;
      height: 47px;
      line-height: 35px;
      padding: 5px 0 5px 20px;
      border-bottom: 2px solid #F0F3F6;
      > [class*='col-'] {
        padding: 0 5px;
      }
      &.head, &.active {
        border-bottom: 0;
      }
      &:last-child {
         border-bottom: 0;
      }
      .video-thumb  {
        padding: 0;
        height: 35px;
        overflow: hidden;
        border-radius: 5px;
        img {
          display: block;
          height: 35px;
          min-width: 100%;
        }
        .fa {
          position: absolute;
          width: 22px;
          height: 22px;
          line-height: 22px;
          top: calc(50% - 11px);
          left: calc(50% - 11px);
          font-size: 12px;
          color: #475467;
          text-align: center;
          background: rgba(255,255,255,0.8);
          border-radius: 50%;
        }
      }
      > .size {
        font-weight: 900;
      }

      &.head {
        background: #F0F3F6;
        font-weight: 900;
      }
      &.active {
        background: #222C3C;
        color: white;

      }
      &.showing {
        padding-left: 0;
        height: auto;
        border-radius: 0;
        background: #222C3C;
      }
    }
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.recommened {
  .title {
     line-height: 30px;
  }
  .paging {
    text-align: right;
    .btn-move-recommened-product {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid #CED0DA;
        background: #f2f4f7;
        background: -moz-linear-gradient(270deg, #f2f4f7 30%, white 70%);
        background: -webkit-linear-gradient(270deg, #f2f4f7 30%, white 70%);
        background: -o-linear-gradient(270deg, #f2f4f7 30%, white 70%);
        background: -ms-linear-gradient(270deg, #f2f4f7 30%, white 70%);
        background: linear-gradient(0deg, #f2f4f7 30%, white 70%);
        color: #CED0DA;
        font-size: 18px;
        margin-left: 10px;
      &:hover {
        background: #f2f4f7;
        background: -moz-linear-gradient(90deg, #f2f4f7 30%, white 70%);
        background: -webkit-linear-gradient(90deg, #f2f4f7 30%, white 70%);
        background: -o-linear-gradient(90deg, #f2f4f7 30%, white 70%);
        background: -ms-linear-gradient(90deg, #f2f4f7 30%, white 70%);
        background: linear-gradient(180deg, #f2f4f7 30%, white 70%);
      }
    }
  }
  .recommend-products {
    .product {
      position: relative;
      height: 180px;
      border-radius: 4px;
      overflow: hidden;
      img {
        width: 100%;
        border-radius: 4px;
      }
      .recommend-product-short-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding:  5px 10px;
        background: rgba(255,255,255,0.8);
        color: #6D6E6C;
      }
    }
  }
}

.information {
  .m-bottom-0{
      margin-bottom: 0!important;
  }
  .flex-box{
      display: flex;
      -moz-display: flex;
      -webkit-display: flex;
  }

  .item-card-v1 {
      background-color: #fff;
      padding: 20px 15px !important;
      border-radius: 10px;
      margin-bottom: 20px;
      border: 1px solid #f4f5f7;
  }

  .item-card-v1 .row.form-row:last-child {
      margin-bottom: 0;
  }

  .item-card-v1 label {
      font-weight: 700;
  }

  .form-group {
      margin-top: 0;
  }

  .row.form-row {
      margin-bottom: 15px;
  }

  .form-row li a{
      padding: 10px;
      display: block;
      color: #333;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-right: 8px;
      background-color: #f6f6f6;
      font-size: 16px;
      border: 2px solid #ededed;
  }

  .form-row li.added a{
      background-color: #04be5b;
      color: #fff;
      border: 2px solid #04be5b;
  }
  .form-row ul.added li.added a{
      background-color: #ff001f;
      color: #fff;
      border: 2px solid #ff001f;
  }

  .panel-default > .panel-heading{
      padding: 0;
      background: none;
      border: 0px;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body{
      border: 0px;
      padding:0;
  }

  .panel-group{
      margin-bottom: 0px;
  }
  .panel-group .panel{
      border: 0;
      padding: 10px 10px 0 10px;
      border-bottom: 2px solid #ededed;
  }


  .item-card-v2 {
      padding: 20px;
      border-radius: 8px;
      border: 2px solid #f4f5f7;
  }
}
