.tooltip.custom-class {
  .step-one-tooltips {
    font-size: 14px;
    text-align: left;
    color: #FFFFFF;
  }
}

.icon-ic-upload {
    display: block;
    text-align: center;
}

.label-uploader {
    display: block;
    line-height: 16px;
    margin-top: 25px;
    text-align: center;
}
.margin-b-0 {
    margin-bottom: 0 !important;
}
