<div class="modal change-password-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body text-center">

                <form
                    name="form1"
                    autocomplete="false"
                    ng-submit="changePassword()"
                    novalidate
                    >

                    <div class="form-group" ng-class="{ 'has-error' : showErrors() && (form1.current_password.$error.password || form1.$invalid)}">
                        <input
                            type="password"
                            name="current_password"
                            class="form-control"
                            placeholder="Current password"
                            ng-model="data.currentPassword"
                            ng-disabled="view.sending"
                            ng-required="true"
                            >
                        <span ng-show="showErrors() && fieldHasError( this, 'form1', 'current_password' )" class="help-block">
                            <span ng-show="!form1.current_password.$error.password && form1.$invalid">Please enter your current password.</span>
                            <span ng-show="form1.current_password.$error.password">Please enter correct password.</span>
                        </span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'new_password' ) }">
                        <input
                            id="new-password"
                            type="password"
                            name="new_password"
                            class="form-control"
                            placeholder="New password"
                            ng-model="data.newPassword"
                            ng-disabled="view.sending"
                            ng-minlength="6"
                            required
                            >
                        <span ng-show="showErrors() && fieldHasError( this, 'form1', 'new_password' )" class="help-block">
                            <span ng-show="!form1.new_password.$error.minlength">Please enter new password.</span>
                            <span ng-show="form1.new_password.$error.minlength">This password is too short, it should have 6 characters or more.</span>
                        </span>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : showErrors() && fieldHasError( this, 'form1', 'new_password_repeat' ) }">
                        <input
                            id="new-password-repeat"
                            type="password"
                            name="new_password_repeat"
                            class="form-control"
                            placeholder="Repeat new password"
                            ng-model="data.newPasswordRepeat"
                            ng-disabled="view.sending"
                            password-match="new-password"
                            required
                            >
                        <span ng-show="showErrors() && fieldHasError( this, 'form1', 'new_password_repeat' )" class="help-block">
                            <span ng-show="!form1.new_password_repeat.$error.pwmatch">Please repeat the new password.</span>
                            <span ng-show="form1.new_password_repeat.$error.pwmatch">New password must be the same.</span>
                        </span>
                    </div>

                    <div class="row row-buttons">
                        <div class="col-md-6 col-left clearfix">
                            <button type="button" class="btn-kaching-second pull-right" ng-click="$hide()" ng-disabled="view.sending">Cancel</button>
                        </div>
                        <div class="col-md-6 col-right clearfix">
                            <button type="submit" class="btn-kaching-first pull-left" ng-disabled="view.sending">OK</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
